body {
  background-color: #232323;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 1s;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  color: white;
  text-align: center;
  background: cornflowerblue;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.2;
  padding: 25px 0;
}

#stripe {
  background: white;
  text-align: center;
  color: black;
  height: 20px;
}

.selected {
  color: white;
  background-color: cornflowerblue;
}

#colorDisplay {
  font-size: 200%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 800;
  color: cornflowerblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
}

button:hover {
  color: white;
  background: cornflowerblue;
}

#message {
  display: inline-block;
  width: 20%;
}

p {
  color: white;
  font-family: cursive;
  font-size: 35px;
  text-align: center;
}

a {
  color: lightblue;
}
